<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: 'Bienvenido'})%>


<body class="fourMusic">

    <%-include("partials/header.ejs")%>
    <main>
        
            <!--Carrusel de imagenes Bootstrap-->
    
            <section id="contenedor-carrusel1">
                <div class="container">
                    <div class="row">
                        <div class="col-s12">
                    
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="images/banner1.jpg" alt="First slide" >
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="images/banner2.jpg" alt="Second slide" >
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="images/banner3.jpg" alt="Third slide" >
                                </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <!--<span class="sr-only">Previous</span> Texto del boton previous-->
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <!--<span class="sr-only">Next</span> Texto del boton next-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Imagenes debajo del primer carrusel-->
            <section id="contenedor-imgs">
                <div class="imgEstilo">
                    <a href="#">
                        <img src="images/tango.jpg" alt="">
                        <p>Tango</p>
                    </a>
                </div>
                <div class="imgEstilo">
                    <a href="#">
                        <img src="images/folklore.jpg" alt="">
                        <p>Folklore</p>
                    </a>
                </div>
                <div class="imgEstilo">
                    <a href="#">
                        <img src="images/rock.jpg" alt="">
                        <p>Rock & Blues</p>
                    </a>
                </div>
                <div class="imgEstilo">
                    <a href="#">
                        <img src="images/jazz.jpg" alt="">
                        <p>Jazz</p>
                    </a>
                </div>
                <div class="imgEstilo">
                    <a href="#">
                        <img src="images/otros.jpg" alt="">
                        <p>Otros</p>
                    </a>
                </div>
            </section>
        <div class="contenedorMain">
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Todos los productos</h2>
                    </div>
                    <% for(let producto of productos) { %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/<%=producto.id %>" >
                                    <figure class="product-box_image">
                                        <img class="d-block w-100" src="/images/products/<%=producto.imagen%>" alt="A">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2>$<%=producto.precio %></h2>
                                        <p><%=producto.titulo + ' ' + producto.marca + ' ' + producto.modelo %></p>
                                    </article>
                                </a>
                            </section>
                        </div>
                    <% } %>       
                </div>
            </div>
        </div>
    </main>
    
    <%-include("partials/footer.ejs")%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
</body>
</html>