<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: 'Login'})%>
<link rel="stylesheet" href="/css/registro.css">


<body class="fourMusic-FormRegistro">
   
    <%-include("partials/header.ejs")%>

    <main>
        <div class="contenedorForm">
                   
                
                <form  action="/users" method="POST" class="formularioRegistro">
                    <h2 class="bienvenidaRegistro">Bienvenido a 4Music!</h2>


                    <div class="contenedorFormRegistro">
                        <p id="errorEmail" style="color: red"></p>
                        <% if(locals.errors && errors.email) { %>
                            <p style="color: red; text-align: center;"> <%= errors.email.msj %></p>
                        <% } %>
                    <div class="contenedorInput">
                        
                        <i class="fas fa-envelope icon"></i>
                        <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : '' %>" placeholder="Ingresa tu email"> 
                    </div>




                    <p id="errorContraseña" style="color: red"></p>
                    <% if(locals.errors && errors.contraseña && errors.contraseña.msj){ %>
                        <p style="color: red; text-align: center;"><%= errors.contraseña.msj %></p>
                    <% } %>
                    <div class="contenedorInput">
                        
                        <i class="fas fa-key icon"></i>
                        <input type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña">    
                    </div>





                    <div class="contenedorInput" style="border: none;"> 
                        <a href="">Olvidaste tu contaseña?</a>
                    </div>




                    <div class="contenedorInput" style="border: none;"> 
                        <button type="submit" class="boton-formRegistro">Ingresar</button>
                    </div>




                    <div class="contenedorInput" style="border: none; text-align: center;"> 
                        <input type="checkbox" class="check" name="recordarUsuario">Permanecer conectado
                    </div>




                    <div class="contenedorInput" style="border: none;"> 
                        <p class="p-Registro">¿No tenes una cuenta? <a href="/users/register">Registrate</a></p>
                    </div>



                    </div>
                </form>
            
        </div>
    </main>
    

    <%-include("partials/footer")%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/loginUsuario.js"></script>
</body>
</html>