<!DOCTYPE html>
<html lang="es">
<%-include("partials/head.ejs", {title: 'Registración'})%>

<body class="fourMusic">
    
    <%-include("partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <div class="formulario">
                
                <h2 class="bienvenida">Bienvenido a 4Music!</h2> 
             
                <form id="registrar" action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="lineaForm">
                        <label for="nombre">Nombre:</label>
                        <% if(locals.errors && errors.nombre) { %>
                            <p style="color: red;"><%= errors.nombre.msg %></p>
                        <% } %>
                        <input type="text" name="nombre" id="nombre" minlength="2" maxlength="18" value="<%= locals.old && old.nombre ? old.nombre : '' %>" >
                        
                    </div>
                    <div class="lineaForm">
                        <label for="apellido">Apellido:</label>
                        <% if(locals.errors && errors.apellido) { %>
                            <p style="color: red;"><%= errors.apellido.msg %></p>
                        <% } %>
                        <input type="text" name="apellido" id="apellido" minlength="2" maxlength="18" value="<%= locals.old && old.apellido ? old.apellido : '' %>" >
                    </div>
                    <div class="lineaForm">
                        <label for="email">Email:</label>
                        <% if(locals.errors && errors.email) { %>
                            <p style="color: red;"><%= errors.email.msg %></p>
                        <% } %>
                        <input type="email" name="email" id="email"  minlength="6" maxlength="25"value="<%= locals.old && old.email ? old.email : '' %>" >
                    </div>
                    <div class="lineaForm">
                        <label for="contraseña">Contraseña:</label>
                        <% if(locals.errors && errors.contraseña{ %>
                            <p style="color: red;"><%= errors.contraseña.msg %></p>
                        <% } %>
                        <input type="password" name="contraseña" id="contraseña" minlength="6" maxlength="15">
                    </div>
                    <div class="lineaForm">
                        <label for="telefono">Teléfono:</label>
                        <% if(locals.errors && errors.telefono) { %>
                            <p style="color: red;"><%= errors.telefono.msg %></p>
                        <% } %>
                        <input type="text" name="telefono" id="telefono"  minlength="6" maxlength="25"value="<%= locals.old && old.telefono ? old.telefono : '' %>" >
                    </div>
                    <div class="lineaForm">
                        <label for="avatar">Seleccionar Foto de Perfil:</label>
                        <% if(locals.errors && errors.avatar) { %>
                            <p style="color: red;"><%= errors.avatar.msg %></p>
                        <% } %>
                        <input type="file" name="avatar" id="avatar">
                        
                    </div>
                    <div class="lineaForm">
                        <label for="tipoUsuario">Tipo de Usuario</label>
                        <select name="tipoUsuario" id="tipoUsuario"> 
                            <option value="">Seleccionar</option>
                            <option value="1" <%= locals.old && old.tipoUsuario === "1" ? "selected" : " "; %>>Comprador</option>
                            <option value="2" <%= locals.old && old.tipoUsuario === "2" ? "selected" : " "; %>>Vendedor</option>
                        </select>
                    </div>
                    <div class="lineaForm">
                        <button type="reset" value="borrar" class="boton-registro">Borrar datos</button>
                    </div>
                    <div class="lineaForm">
                        <button type="submit" class="boton-registro">Crear cuenta</button>
                    </div>
                    <div class="lineaForm">
                        <input type="checkbox" name="recibir-ofertas" class="check">Deseo recibir ofertas y novedades por email
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <%-include("partials/footer.ejs")%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>