<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Modificar Perfil'})%>
<link rel="stylesheet" href="/css/registro.css">
    
<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    <main>
        <div class="contenedorForm registro edicion">
                    
                
                <form class="formularioRegistro" action="/users/<%=usuarioaEditar.id%>/edit?_method=PUT" method="POST"  enctype="multipart/form-data">
                    <h2 class="bienvenidaRegistro">Modificar mi Perfil</h2>
                    <div class="contenedorFormRegistro">

                    <div class="contenedorInput">
                        
                        <i class="fas fa-user icon"></i>
                        <input value="<%=usuarioaEditar.nombre%>" type="text" placeholder="" name="nombre" id="nombre" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="contenedorInput">
                        
                        <i class="fas fa-user icon"></i>
                        <input value="<%=usuarioaEditar.apellido %>" type="text" name="apellido" id="apellido" placeholder="" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="contenedorInput">
                        
                        <i class="fas fa-envelope icon"></i>
                        <input value="<%=usuarioaEditar.email %>" type="text" name="email" id="email" required  placeholder=""  minlength="2" maxlength="30">    
                    </div>
                    
                    <div class="contenedorInput" style="border: none;">
                        <label for="avatar">Foto de Perfil</label>
                        <img class="imagenPerfil" src="/images/users/<%= usuarioaEditar.foto_perfil %>"/>
                        <label for="avatar">Cargar nueva Imágen</label>
                        <input type="file" name="avatar" accept="image/png, image/gif, image/jpeg"/>
                    </div>
                    <div class="contenedorInput">
                        
                        <i class="fas fa-phone icon"></i>
                        <input value="<%=usuarioaEditar.telefono %>" type="text" name="telefono" id="telefono" required>    
                    </div>
                    <div class="contenedorInput" style="border: none;">
                        <label for="rol">Tipo de Usuario</label>
                        <select name="tipoUsuario" id="tipoUsuario"> 
                            <option value="">Seleccionar</option>
                            <option value="comprador" <%= locals.usuarioaEditar.rol == "Comprador" ? "selected" : " "; %>>Comprador</option>
                            <option value="vendedor" <%= locals.usuarioaEditar.rol == "Vendedor" ? "selected" : " "; %>>Vendedor</option>
                        </select>
                    </div>
                    <div class="contenedorInput" style="border: none;"> 
                        <a href="/users/userData/<%=locals.usuarioaEditar.id%>"><button type="button" class="boton-registro">Volver</button></a>
                    </div>
                    <div class="contenedorInput" style="border: none;"> 
                        <button type="submit" class="boton-registro">Guardar</button>
                    </div>
                    
                    
                </div>
                </form>
            
        </div>
    </main>
    
    <%-include("../partials/footer.ejs")%>

 
</body>
</html>