<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Mi cuenta - 4Music'})%>


<body class="fourMusic">

    <%-include("../partials/header.ejs")%>
 

<div class="contenedorPerfilUsuario">
    <h2 class="bienvenida">Bienvenido <%= locals.usuarioLogueado.nombre %> <%= locals.usuarioLogueado.apellido %>!</h2>

    <a href="/products/create">
        <button type="button" class="boton-registro">
            Publicar nuevo producto
        </button>
    </a>
    <a href="/users/userData/<%=locals.usuarioLogueado.id%>">
        <button type="button" class="boton-registro">
            Mis datos
        </button>
    </a>
    <a href="/products/showAll/<%=locals.usuarioLogueado.id%>">
        <button type="button" class="boton-registro">
            Mis publicaciones
        </button>
    </a>
    <a href="#">
        <button type="button" class="boton-registro">
            Mis ventas
        </button>
    </a>
    <a href="#">
        <button type="button" class="boton-registro">
            Mis compras
        </button>
    </a>
    <a href="/cart">
        <button type="button" class="boton-registro">
            Carrito de Compras
        </button>
    </a>
    <form action="/users/<%=locals.usuarioLogueado.id%>?_method=DELETE" method="POST" onclick="return confirm('¿Estás seguro de que quieres eliminar tu cuenta?');">
        <button type="submit" class="boton-registro">Eliminar Cuenta</button>
    </form>
    <a href="/users/logout">
        <button type="button" class="boton-registro">
            Cerrar Sesión
        </button>
    </a>
</div>
<%-include("../partials/footer")%>

</body>