<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Listado de productos'})%>


<body class="fourMusic">

    <%-include("../partials/header.ejs")%>
    <main>
        <div class="contenedorMain">
            <div class="container products-wrapper">
                <div class="row">
                    <% if(productos.length > 0) { %>
                        <div class="col-12">
                            <h2 class="products-title">Todos los productos</h2>
                        </div>
                        <% for(let producto of productos) { %>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <section class="product-box">
                                    <a href="/products/detail/<%=producto.id %>">
                                        
                                        <figure class="product-box_image">
                                            <img class="d-block portadaProducto" src="/images/products/<%=producto.fotos[0].url %>" alt="A">
                                        </figure>
                                    
                                        <article class="product-box_data">
                                            <h2>$<%=producto.precio %></h2>
                                            <p><%=producto.titulo + ' ' + producto.marca + ' ' + producto.modelo %></p>
                                        </article>
                                    </a>
                                </section>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="col-12">
                            <h2 class="products-title">Aún no tienes productos publicados...</h2>
                            <div class="lineaForm"> 
                                <a href="/users/profile"><button type="button" class="boton-registro">Volver</button></a>
                            </div>
                        </div>
                    <% } %>         
                </div>
            </div>
        </div>
    </main>
    <%-include("../partials/footer.ejs")%>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
</body>
</html>



