<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Editar producto'})%>
<link rel="stylesheet" href="/css/formulario-NewItem.css">
<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    
            <div class="contenedorFormEditItem">         
                
                <form class="formulario-NewItem" action="/products/<%=producto.id%>/edit?_method=PUT" method="POST"  enctype="multipart/form-data">
                    <h1>Editar Producto</h1>

                <div class="contenedor-formItem">
                    <div class="lineaFormItem">
                        <p id="tituloErrorP" style="color: blue;"></p>
                        <label for="titulo">Título del Aviso</label>
                        <% if(locals.errors && errors.titulo) { %>
                            <p style="color: red;"><%= errors.titulo.msg %></p>
                        <% } %>
                        <input value="<%=producto.titulo %>" type="text" placeholder="Ej: Fender" name="titulo" id="titulo"  >     
                    </div>
                    <div class="lineaFormItem">
                        <p id="marcaErrorP" style="color: blue;"></p>
                        <label for="marca">Marca</label>
                        <% if(locals.errors && errors.marca) { %>
                            <p style="color: red;"><%= errors.marca.msg %></p>
                        <% } %>
                        <input value="<%=producto.marca %>" type="text" name="marca" id="marca" placeholder="Ej: Fender"  >     
                    </div>
                    <div class="lineaFormItem">
                        <p id="errorModeloP" style="color: blue;"></p>
                        <label for="modelo">Modelo</label>
                        <% if(locals.errors && errors.modelo) { %>
                            <p style="color: red;"><%= errors.modelo.msg %></p>
                        <% } %>
                        <input value="<%=producto.modelo %>" type="text" name="modelo" id="modelo"  placeholder="Ej: Stratocaster"  >    
                    </div>
                    <div class="lineaFormItem">
                        <p id="errorPrecioP" style="color: blue;"></p>
                        <label for="precio">Precio: $</label>
                        <% if(locals.errors && errors.precio) { %>
                            <p style="color: red;"><%= errors.precio.msg %></p>
                        <% } %>
                        <input value="<%=producto.precio %>" type="text" name="precio" id="precio" >    
                    </div>
                    <div class="lineaFormItem category"> 
                        <p id="errorCategoriaP" style="color: blue;"></p>
                        <label for="selectegoria">Categoría</label>
                        
                        <select name="selectegoria" id="categoria">
                            <option value="">Seleccionar</option>
                            <% for (let i = 0; i < categoria.length; i++) { %>
                                <% if (categoria[i].id == producto.id_categoria) { %>
                                    <option value="<%=categoria[i].id%>" selected>
                                        <%=categoria[i].nombre%>
                                    </option>
                                <% } else { %>
                                    <option value="<%=categoria[i].id%>">
                                        <%=categoria[i].nombre%>
                                    </option>
                               <% } %>
            
            
                            <% } %>
                          </select>
                    </div>
                    <div class="lineaFormItem block">
                        <p id="errorDescripcionP" style="color: blue;"></p>
                        <label for="descripcion">Descripción</label>
                        <% if(locals.errors && errors.descripcion) { %>
                            <p style="color: red;"><%= errors.descripcion.msg %></p>
                        <% } %>
                       <textarea class="areaTexto" name="descripcion" placeholder="Ingresá la Descripción del producto" minlength="5" maxlength="400" id="descripcion"><%=producto.descripcion %>
                    </textarea>   
                    </div>
                    <div class="lineaFormItem img img2">
                        <p id="errorFotoP" style="color: blue;"></p>
                        <label for="imagenes">Imágenes</label>
                        <% for(let i=0; i < producto.fotos.length; i++) {%>
                        <img class="imagenPerfil" src="/images/products/<%=producto.fotos[i].url%>" width="200px">
                        <% } %>
                        <% if(locals.errors && errors.imagenes) { %>
                            <p style="color: red;"><%= errors.imagenes.msg %></p>
                        <% } %>
                        <input type="file" id="imagenes" multiple name="imagenes" accept="image/png, image/gif, image/jpeg"/>
                    </div>
                   
                    <div class="lineaFormItem boton-volver">
                        <a href="/"><button type="button" class="boton-registro">Volver</button></a>
                    </div>
                    <div class="lineaFormItem"> 
                        <button type="submit" class="boton-registro">Editar</button>
                    
                    </div>
                    
                    
                </div>
                </form>
            </div>
        
    
    <%-include("../partials/footer.ejs")%>

 <script src="../../js/editItem.js"></script>
</body>
</html>