<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Editar producto'})%>
    
<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <div class="formulario">         
                <h2 class="bienvenida">Editar Producto</h2>
                <form id="publicarProducto" action="/products/<%=producto.id%>/edit?_method=PUT" method="POST"  enctype="multipart/form-data">
                    <div class="lineaForm">
                        <label for="titulo">Título del Aviso</label>
                        <input value="<%=producto.titulo %>" type="text" placeholder="Ej: Fender" name="titulo" id="titulo" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="lineaForm">
                        <label for="marca">Marca</label>
                        <input value="<%=producto.marca %>" type="text" name="marca" id="marca" placeholder="Ej: Fender" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="lineaForm">
                        <label for="modelo">Modelo</label>
                        <input value="<%=producto.modelo %>" type="text" name="modelo" id="modelo" required  placeholder="Ej: Stratocaster"  minlength="2" maxlength="30">    
                    </div>
                    <div class="lineaForm"> 
                        <label for="selectegoria">Categoría</label>
                        <select name="selectegoria">
                            <% for (let i = 0; i < categoria.length; i++) { %>
                                <% if (categoria[i].id == producto.id_categoria) { %>
                                    <option value="<%=categoria[i].id%>" selected>
                                        <%=categoria[i].nombre%>
                                    </option>
                                <% } else { %>
                                    <option value="<%=categoria[i].id%>">
                                        <%=categoria[i].nombre%>
                                    </option>
                               <% } %>
            
            
                            <% } %>
                          </select>
                    </div>
                    <div class="lineaForm">
                        <label for="descripcion">Descripción</label>
                       <textarea class="areaTexto" required name="descripcion" placeholder="Ingresá la Descripción del producto" minlength="5" maxlength="400"><%=producto.descripcion %>
                    </textarea>   
                    </div>
                    <div class="lineaForm">
                        <label for="imagenes">Imágenes</label>
                        <input type="file" name="imagenes" accept="image/png, image/gif, image/jpeg" required/>
                    </div>
                    <div class="lineaForm">
                        <label for="precio">Precio: $</label>
                        <input value="<%=producto.precio %>" type="text" name="precio" id="precio" required>    
                    </div>
                    <div class="lineaForm"> 
                        <a href="/"><button type="button" class="boton-registro">Volver</button></a>
                    </div>
                    <div class="lineaForm"> 
                        <button type="submit" class="boton-registro">Publicar</button>
                    
                    </div>
                    
                    
                
                </form>
            </div>
        </div>
    </main>
    
    <%-include("../partials/footer.ejs")%>

 
</body>
</html>