<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Editar producto'})%>
    
<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <div class="formulario">         
                <h2 class="bienvenida">Editar Producto</h2>
                <form id="publicarProducto" action="/products/<%=productoaEditar.id%>/edit?_method=PUT" method="POST"  enctype="multipart/form-data">
                    <div class="lineaForm">
                        <label for="titulo">Título del Aviso</label>
                        <input value="<%=productoaEditar.titulo %>" type="text" placeholder="Ej: Fender" name="titulo" id="titulo" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="lineaForm">
                        <label for="marca">Marca</label>
                        <input value="<%=productoaEditar.marca %>" type="text" name="marca" id="marca" placeholder="Ej: Fender" required  minlength="2" maxlength="25">     
                    </div>
                    <div class="lineaForm">
                        <label for="modelo">Modelo</label>
                        <input value="<%=productoaEditar.modelo %>" type="text" name="modelo" id="modelo" required  placeholder="Ej: Stratocaster"  minlength="2" maxlength="30">    
                    </div>
                    <div class="lineaForm"> 
                        <label for="selectegoria">Categoría</label>
                        <select name="selectegoria">
                            <% switch(productoaEditar.categoria) { 
                                case "1": %>
                            <option value="1" selected>Instrumentos de Cuerdas</option>
                            <option value="2">Instrumentos de Percusión</option>
                            <option value="3">Instrumentos de Viento</option>
                            <option value="4">Accesorios</option>
                            <option value="5">Audio</option>
                            <option value="6">Otros</option>
                            <% break; 
                            case "2": %>
                            <option value="1">Instrumentos de Cuerdas</option>
                            <option value="2" selected>Instrumentos de Percusión</option>
                            <option value="3">Instrumentos de Viento</option>
                            <option value="4">Accesorios</option>
                            <option value="5">Audio</option>
                            <option value="6">Otros</option>
                            <% break; 
                            case "3": %>
                            <option value="1" >Instrumentos de Cuerdas</option>
                            <option value="2">Instrumentos de Percusión</option>
                            <option value="3" selected>Instrumentos de Viento</option>
                            <option value="4">Accesorios</option>
                            <option value="5">Audio</option>
                            <option value="6">Otros</option>
                            <% break; 
                            case "4": %>
                            <option value="1">Instrumentos de Cuerdas</option>
                            <option value="2">Instrumentos de Percusión</option>
                            <option value="3">Instrumentos de Viento</option>
                            <option value="4" selected>Accesorios</option>
                            <option value="5">Audio</option>
                            <option value="6">Otros</option>
                            <% break; 
                            case "5": %>
                            <option value="1">Instrumentos de Cuerdas</option>
                            <option value="2">Instrumentos de Percusión</option>
                            <option value="3">Instrumentos de Viento</option>
                            <option value="4">Accesorios</option>
                            <option value="5" selected>Audio</option>
                            <option value="6">Otros</option>
                            <% break; 
                            case "6": %>
                            <option value="1">Instrumentos de Cuerdas</option>
                            <option value="2">Instrumentos de Percusión</option>
                            <option value="3">Instrumentos de Viento</option>
                            <option value="4">Accesorios</option>
                            <option value="5">Audio</option>
                            <option value="6" selected>Otros</option>
                            <% break; }%>   
                          </select>
                    </div>
                    <div class="lineaForm">
                        <label for="descripcion">Descripción</label>
                       <textarea class="areaTexto" required name="descripcion" placeholder="Ingresá la Descripción del producto" minlength="5" maxlength="400"><%=productoaEditar.descripcion %>
                    </textarea>   
                    </div>
                    <div class="lineaForm">
                        <label for="imagenes">Imágenes</label>
                        <input type="file" name="imagenes" accept="image/png, image/gif, image/jpeg" required/>
                    </div>
                    <div class="lineaForm">
                        <label for="precio">Precio: $</label>
                        <input value="<%=productoaEditar.precio %>" type="text" name="precio" id="precio" required>    
                    </div>
                    <div class="lineaForm"> 
                        <a href="/"><button type="button" class="boton-registro">Volver</button></a>
                    </div>
                    <div class="lineaForm"> 
                        <button type="submit" class="boton-registro">Publicar</button>
                    
                    </div>
                    
                    
                
                </form>
            </div>
        </div>
    </main>
    
    <%-include("../partials/footer.ejs")%>

 
</body>
</html>