<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: productoDetalle.marca + " " + productoDetalle.modelo})%>
    
<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <div class="tituloBloque">
                <a href="/"><h5>Inicio  ></h5></a>
                <a href="/products/searchByCategory?categoria=<%=productoDetalle.categoria%>">
                    <h5>
                        <% switch(productoDetalle.categoria) {  
                             case "1":%> Instrumentos de Cuerdas
                                <% break;%>
                            <% case "2":%> Instrumentos de Percusión 
                                <% break;%>
                            <% case "3":%> Instrumentos de Viento 
                                <%break;%>
                            <% case "4":%> Teclados y Pianos 
                                <% break;%>
                            <% case "5":%> Audio
                                <% break;%>
                            <% case "6":%> Otros
                                <% break;%>
                        <% } %>
                    </h5>
                </a> 
            </div>
            <div class="contenedorSuperior">
                <div class="contenedorImagenes">
                    <div id="content-wrapper">
                        <div class="column">
                            <div class="contenedorFeatured">
                                <img id="featured" src="/images/products/<%=productoDetalle.imagen%>" alt="imagen1">
                            </div>
                            <div id="slide-wrapper" class="">
                                <img id="slideLeft" class="arrow" src="/images/arrow-left.png">
                                <div id="slider" class="">  
                                    <img src="/images/products/<%=productoDetalle.imagen%>" alt="imagen1" class="thumbnail active">
                                    <img src="/images/products/<%=productoDetalle.imagen%>" alt="imagen2" class="thumbnail">
                                    <img src="/images/products/<%=productoDetalle.imagen%>" alt="imagen3" class="thumbnail">
                                    <img src="/images/products/<%=productoDetalle.imagen%>" alt="imagen4" class="thumbnail">
                                </div>
                                <img id="slideRight" class="arrow" src="/images/arrow-right.png">
                            </div>
                        </div>
                    </div>
                
            </div>
                <div class="contenedorDatos">
                    <div class="nombreProducto">
                        <h2><%=productoDetalle.titulo  %> <%= productoDetalle.marca %> <%=productoDetalle.modelo %></h2>
                    </div>
                    <div class="precioProducto">
                        <h3>$<%=productoDetalle.precio%></h3>
                    </div>
                    <div class="">
                        <a href=#>Consultar por otros medios de pago</a>
                    </div>
                    <div class="sectorComprar">
                        <div class="tituloCantidad"><p>Cantidad</p></div>
                        <div><input class="cantidadAComprar" type="number" value="1"></div>
                        <div class="contenedorBotonCompra">
                            <a href="/cart"><button type="button" class="btn btn-dark botonComprar"><i class="fas fa-cart-plus carrito"></i>COMPRAR</button></a>
                        </div>
                    </div>
                    <div class="sectorFlex">
                        <div class="envio">
                            <p>ENVÍO GRATIS!</p> 
                        </div>
                        <div class="envio">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                    </div>
                    <div class="sectorFlex">
                        <div class="">
                            <h4>Garantía: 6 Meses</h4> 
                        </div>
                    </div>
                    <div class="sectorFlex compartir">
                        <h4>COMPARTIR</h4>
                        <div class="iconoRedes">
                            <a href="http://facebook.com"><i class="fab fa-facebook-square"></i></a>
                        </div>
                        <div class="iconoRedes">
                            <a href="http://instagram.com"><i class="fab fa-instagram-square"></i></a>
                        </div>
                        <br>
                        
                    </div>
                    <form action="/products/<%=productoDetalle.id%>/edit" method="GET">
                        <button type="submit" class="boton-registro">Editar</button>
                    </form>
                    <form action="/products/<%=productoDetalle.id%>?_method=DELETE" method="POST" onclick="return confirm('¿Estás seguro de que quieres borrar este articulo?');">
                        <button type="submit" class="boton-registro">Borrar</button>
                    </form>
                </div>
            </div>
            <div class="contenedorDescripcionYFicha">
                <div class="descripcionItem">
                    <h3 class="tituloBloque">DESCRIPCIÓN</h3>
                    <p><%=productoDetalle.descripcion%></p>
                </div>
            </div>
        </div>
    </main>
    
    <%-include("../partials/footer.ejs")%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let thumbnails = document.getElementsByClassName('thumbnail')
        let activeImages = document.getElementsByClassName('active')
        for(var i = 0; i < thumbnails.length; i++){
            thumbnails[i].addEventListener('mouseover',function(){
                console.log(activeImages)
                if(activeImages.length > 0){
                    activeImages[0].classList.remove('active')
                }
                this.classList.add('active')
                document.getElementById('featured').src = this.src
            })
        }
        let buttonRight = document.getElementById('slideRight');
		let buttonLeft = document.getElementById('slideLeft');

		buttonLeft.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft -= 180
		})

		buttonRight.addEventListener('click', function(){
			document.getElementById('slider').scrollLeft += 180
		})


    </script>



    

</body>
</html>