<!DOCTYPE html>
<html lang="es">
<%-include("../partials/head.ejs", {title: 'Publicar nuevo producto'})%>

<body class="fourMusic">
    
    <%-include("../partials/header.ejs")%>

    <main>
        <div class="contenedorMain">
            <div class="formulario">         
                <h2 class="bienvenida">Publicar Nuevo Producto</h2>
                <form id="publicarProducto" action="/products" method="POST" enctype="multipart/form-data" >
                    <div class="lineaForm">
                        <label for="titulo">Título del Aviso</label>
                        <% if(locals.errors && errors.titulo) { %>
                            <p style="color: red;"><%= errors.titulo.msg %></p>
                        <% } %>
                        <input type="text" placeholder="Ej: Fender" name="titulo" id="titulo" minlength="2" maxlength="25" value="<%= locals.old && old.titulo ? old.titulo : '' %>" > 
                    </div>
                    <div class="lineaForm">
                        <label for="marca">Marca</label>
                        <% if(locals.errors && errors.marca) { %>
                            <p style="color: red;"><%= errors.marca.msg %></p>
                        <% } %>
                        <input type="text" placeholder="Ej: Fender" name="marca" id="marca" minlength="2" maxlength="25" value="<%= locals.old && old.marca ? old.marca : '' %>" >     
                    </div>
                    <div class="lineaForm">
                        <label for="modelo">Modelo</label>
                        <% if(locals.errors && errors.modelo) { %>
                            <p style="color: red;"><%= errors.modelo.msg %></p>
                        <% } %>
                        <input type="text" name="modelo" id="modelo" placeholder="Ej: Stratocaster" minlength="2" maxlength="30" value="<%= locals.old && old.modelo ? old.modelo : '' %>" >
                    </div>
                    <div class="lineaForm">
                        <label for="precio">Precio: $</label>
                        <% if(locals.errors && errors.precio) { %>
                            <p style="color: red;"><%= errors.precio.msg %></p>
                        <% } %>
                        <input type="text" name="precio" id="precio" value="<%= locals.old && old.precio ? old.precio : '' %>" >  
                    </div>
                    <div class="lineaForm"> 
                        <label for="categoria">Categoría</label>
                        <% if(locals.errors && errors.categoria) { %>
                            <p style="color: red;"><%= errors.categoria.msg %></p>
                        <% } %>
                        <select name="categoria">
                            <option value="">Seleccionar</option>
                        <% for (let i = 0; i < categoria.length; i++) {%>
                            <option value="<%=categoria[i].id%>"><%=categoria[i].nombre%></option>
                            <% } %>
                        </select>
                        
                    </div>
                    <div class="lineaForm">
                        <label for="descripcion">Descripción</label>
                        <% if(locals.errors && errors.descripcion) { %>
                            <p style="color: red;"><%= errors.descripcion.msg %></p>
                        <% } %>
                       <textarea class="areaTexto"  name="descripcion"  minlength="5" maxlength="400"><%= locals.old && old.descripcion ? old.descripcion : '' %>
                       </textarea>   
                    </div>
                    <div class="lineaForm">
                        <label for="imagenes">Imágenes</label>
                        <% if(locals.errors && errors.imagenes) { %>
                            <p style="color: red;"><%= errors.imagenes.msg %></p>
                        <% } %>
                        <input type="file" name="imagenes" accept="image/png, image/gif, image/jpeg" / required>
                    </div>
                    <br>
                    <div class="lineaForm">
                        <label for="generoMusical">Seleccione el Género Musical correspondiente</label>
                        <% if(locals.errors && errors.generoMusical) { %>
                            <p style="color: red;"><%= errors.generoMusical.msg %></p>
                        <% } %>
                        <select name="generoMusical">
                            <option value="">Seleccionar</option>
                        <% for (let g = 0; g < genero.length; g++) {%>
                        
                            <option value="<%=genero[g].id%>"><%=genero[g].nombre%></option>
                            

                            <% } %>
                        </select> 
                    </div>
                    <div class="lineaForm">
                        <label for="stock">Cantidad Disponible</label>
                        <% if(locals.errors && errors.stock) { %>
                            <p style="color: red;"><%= errors.stock.msg %></p>
                        <% } %>
                        <input type="text" name="stock" id="stock" placeholder="Ingresá el Stock" value="<%= locals.old && old.stock ? old.stock : '' %>" >
                    </div>
                    <div class="lineaForm"> 
                        <a href="/users/profile">
                            <button type="button" class="boton-registro">Volver</button>
                        </a>
                    </div>
                    <div class="lineaForm">
                        <button type="submit" class="boton-registro">Publicar Artículo</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <%-include("../partials/footer.ejs")%>

 
</body>
</html>